$body-color: #fff;
$header-bg-color: #2ecc71;
$text-decorate-color: #2ecc71;
$text-main-color: #5a5a5a;
$nav-link-color: #fefefe;
$fsz-sm14: 1.4rem;
$fsz-sm16: 1.6rem;
$fsz-md18: 1.8rem;
$fsz-md20: 2rem;
$fsz-md21: 2.1rem;
$fsz-md22: 2.2rem;
$fsz-md26: 2.6rem;
$fsz-lg30: 3rem;
$fsz-lg39: 3.9rem;
$fsz-lg44: 4.4rem;
$fsz-lg48: 4.8rem;
$fsz-slg64: 6.4rem;

$lh-sm18: 1.8rem;
$lh-sm24: 2.4rem;
$lh-sm26: 2.6rem;
$lh-sm28: 2.8rem;
$lh-lg30: 3rem;
$lh-lg32: 3.2rem;
$lh-lg40: 4rem;
$lh-lg48: 4.8rem;
$lh-slg60: 6rem;
