.app-link{
  display: block;
  box-sizing: border-box;
  padding: 7px 25px;
  color: $nav-link-color;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  // Text style for "A, bout"
  letter-spacing: 0.72px;
  &:hover{
    border-radius: 21px;
    background-color: $body-color;
    color: $text-decorate-color;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    // Text style for "Get App"
    letter-spacing: 0.72px;
  }
}
.app-link--footer{
  width: 200px;
  align-self: center;
  text-align: center;
}
