.header{
  background-color: $header-bg-color;
}
.header__upper{
  padding: 25px 0;
}
.header__upper-logo{
  color: #f4f4f4;
  font-family: "Segoe UI Black";
  font-size: 39px;
  font-weight: 900;
  font-style: italic;
  line-height: 24.12px;
  letter-spacing: 1.92px;
}
.header__bottom{
  padding: 50px 0 50px 0;
  &-content{
    @extend %fl-col;
  }
  &-app-icon{
    width: 111px;
    height: 111px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url("../img/app_icon.png");
    background-position: center;
  }
  &-image{
    flex-grow: 1;
    padding-top: 300px;
    background-image: url("../img/header_iphone.png");
    background-repeat: no-repeat;
    background-size: content;
    background-position: bottom;
  }
}
.header__bottom-app-source{
  display: flex;
  width: 330px;
  justify-content: space-around;
}
.header__logo-toggle{
  position: relative;

}
.header__toggle{

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
